body {

background-color: #559977;
font-family: georgia, serif;
}

section {
  background-color: #ffeeff;
  border-radius: 5px;
  padding-bottom: 50px;
}

article {
  background-color: #eeaaaa;
  border: 10px Black;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left:5%;
  margin-right: 20%
  padding: 1rem;
  width: 20rem;
}

header {

  position: fixed;
  background-color: #eeaaaa;
  width: 96.5%;
/*  border-radius: 5px;*/
  margin-right: 7rem;
  margin-top: -10px;
}


/*footer{
    display: table;
    text-align: center;
}*/

.flexContainer {
    display: flex;
    flex-flow:  row wrap;
    justify-content:  space-around;
}

li {
  list-style: none;

}

.content {
  padding-top: 350px;

}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
nav {
  margin-top: -60px;
}


@media (min-width: 600px)
 {

  header {
    background: none;
    position: none;
    width: 96.5%;
    border-radius: 0px;
    margin-right: 0rem;
/*    padding-bottom: 50px;*/
    float: left;
}
  .content {
  padding-top: 0px;
  padding-top: 200px;
}

section {

  float: right;
  background: none;
/*  background-color: #ffeeff;*/
  border: 1 px solid gray;
  border-radius: 0px;
  padding-bottom: 0px;
}

article {
  background-color: #eeaaaa;
  float: right;
  border: 10px Black;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left:0%;
  margin-right: 20%
  padding: 1rem;
  width: 90%;
}

footer {

  float: left;
}

.movepic {
  float: right;
  width:  120px;
  height: 120px;
}
.movepic2 {
  float: left;
  width:  120px;
  height: 120px;

}
.movepic3 {
  width:  290px;
  height: 290px;
  margin-top: 50px;
  margin-left: -40px;
/*  -webkit-filter: blur(25px); */

}
.newhead {
  float: right;
  margin-left: 0%;
  margin-right: 40%;
  font-size: 55px;
}


}
